table.diamondsweeper-board {
  td {
    padding: 0;
    border: 1px solid black;
  }
}

.cell {
  height: 50px;
  width: 50px;
  background-size: 50px 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid black;

  &.diamond {
    background-image: url(diamond.png);
  }

  &.arrow {
    background-image: url(arrow.png);
  }

  &.unknown {
    background-image: url(question.png);
  }
}


.disabled {
    pointer-events: none;
    cursor: not-allowed;
}

#diamond_container {
    margin: auto;
    margin-top: 30px;
    background-color: azure;
}

h1 {
    text-shadow: 2px 2px 8px gray;
}
